.product-filters {
  padding: 0.5rem 1.5rem;
  margin-top: 2.5rem;
}

.product-filters label {
  color: #8a8a8a;
}

.product-filters .menu.nested {
  margin-left: 0rem;
  margin-bottom: 0.9rem;
}

.product-filters .menu > li > a {
  padding-left: 0;
  color: #4a4a4a;
  font-size: 0.85rem;
  font-weight: 600;
}
